.DS_Store

# Data files 
data/
figures/
results/
output/

# Local folders (epidote)
~file_graveyard
dev/

# Common output files
/*.csv
/*.tsv
/*.pdf
/*.png

# Common large files 
/*.jld
/*.mat
/*.h5

