.DS_Store

# Ignore data folders and files
data/
data/octopus/
figures/
results/
~file_graveyard
dev/
output/
/*.nc
/*.xls
/*.csv
/*.tsv
/*.pdf
/*.png
*.out

# Ignore large files
*.jld
*.mat
*.gz
*.kml
*.kml.gz
*.h5

# Some intermediate julia file types to ignore
*.jl.cov
*.jl.*.cov
*.jl.mem
deps/deps.jl
